.entry-metadata {
  text-align: right;
  font-style: italic;
  border-top: solid #aaa 1px;
}

.header-row {
  color: white;
  background-color: #222;
}


.tile-container {
  margin: 0 auto;
  width: 1200px;
  height: auto;
}

.tile-row {
  height: 100px;
  width: inherit;
}

[class*="tile-span"] {
  float: left;
  height: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}

.tile-span1 {
  width: 100px;
}
.tile-span2 {
  width: 200px;
}
.tile-span3 {
  width: 300px;
}
.tile-span4 {
  width: 400px;
}
.tile-span5 {
  width: 500px;
}
.tile-span6 {
  width: 600px;
}
.tile-span7 {
  width: 700px;
}
.tile-span8 {
  width: 800px;
}
.tile-span9 {
  width: 900px;
}
.tile-span10 {
  width: 1000px;
}
.tile-span11 {
  width: 1100px;
}
.tile-span12 {
  width: 1200px;
}


